
{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}



<div class="container">


  <p class="col-sm-12">



    <p><a href="{% url 'contacts:create' %}" class="btn btn-primary btn-sm">
      <i aria-hidden="true" style="color: black"></i>Create New</a></p>

    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Customer Email</th>
          <th>Customer Number</th>
          <th>------</th>
          <th>--------</th>
        </tr>
      </thead>
      {% if contacts_list %}
        {% for contact in contacts_list %}
          <tbody>
            <tr>
              <th>{{ contact.first_name }}</th>
              <th>{{ contact.last_name }}</th>
              <th>{{ contact.customer_email }}</th>
              <th>{{ contact.customer_number }}</th>
              <th><a href="{% url 'contacts:update' contact.id %}" class="btn btn-warning btn-sm">
                  <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i>
                  Edit</a></th>
              <th><a href="{% url 'contacts:delete' contact.id %}" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash" aria-hidden="true" style="color: black"></i>
                  Delete
              </a></th>
            </tr>
          </tbody>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/contacts?page={{ page_obj.previous_page_number }}">  previous</a>
                    {% endif %}
                    <span class="page-current">
                       | Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/contacts?page={{ page_obj.next_page_number }}">  next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endif %}
    </table>

  </div>

</div>

</div>
{% endblock content %}
