{% extends 'base.html' %}
{% block content %}
    <p><a href="{% url 'contacts:contacts' %}" class="btn btn-primary btn-sm">Go Back To list</a></p>
    <form method="post">
    {% csrf_token %}
        <button class="btn btn-danger">Are you sure you want to delete {{ object }}?</button>
    </form>
{% endblock %}
