{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
      <div class="container col-6 pull-left">
        <p><a href="{% url 'contacts:contacts' %}" class="btn btn-primary btn-sm">Go Back To list</a></p>
        <table class="table table-hover">
          <tbody>
            <tr>
              {{ form.non_field_errors }}
              <div class="fieldWrapper">
                <td><label> {{ form.first_name.label_tag }}
                </label></td>
                <td>{{ form.first_name }}</td>
              </div>
            </tr>
            <tr>
              <div class="fieldWrapper">
                <td><label> {{ form.last_name.label_tag }}
                </label></td>
                <td>{{ form.last_name }}</td>
              </div>
            </tr>
            <tr>
              <div class="fieldWrapper">
                  <td><label> {{ form.customer_email.label_tag }}
                  </label></td>
                  <td>{{ form.customer_email }}</td>
                {% if form.customer_email.errors %}
                  <td><div>
                    <small class="text-danger" >{{ form.customer_email.errors }}</small>
                  </div></td>
                {% endif %}
              </div>
            </tr>
            <tr>
              <div class="fieldWrapper">
                  <td><label> {{ form.customer_number.label_tag }}
                  </label></td>
                  <td>{{ form.customer_number }}</td>
                {% if form.customer_number.errors %}
                  <td><div>
                    <small class="text-danger" >{{ form.customer_number.errors }}</small>
                  </div></td>
                {% endif %}
              </div>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-info">Update</button>
      </div>
    </form>
{% endblock %}
