{% load static i18n %}<!DOCTYPE HTML>
<html>
	<head>
		<title>Epilogue by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
   {% block css %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   {% endblock %}
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Epilogue</h1>
          {% if request.user.is_authenticated %}
            <a  href="{% url 'users:detail' request.user.username %}" ><button class="header_button" >Profile</button></a>
          {% else %}
            <a  href="{% url 'account_signup' %}" ><button class="header_button" >Sign Up</button></a>
            <a  href="{% url 'account_login' %}" ><button  class="header_button">Sign In</button></a>
          {% endif %}
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Magna porta maximus</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae<br />
						malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor<br />
						mi porta egestas maximus lorem ipsum dolor.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

        <!-- Video -->

          <section id="video" class="main">
            <div class="thumb-wrap">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/Em2aO3CG9Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
								<h3>Feugiat et faucibus</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{% static 'images/pic02.jpg'%}" alt="" /></a>
								<h3>Blandit adipiscing</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
								<h3>Lorem massa nulla</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
								<h3>Ipsum sed tempus</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Etiam veroeros lorem</h2>
						<p>Phasellus ac augue ac magna auctor tempus proin<br />
						accumsan lacus a nibh commodo in pellentesque dui<br />
						in hac habitasse platea dictumst.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section>

          <section class="main">
            <div class="thumb-wrap">
              <div class="row ">

                 <div class="col-md-4 col-sm-6">
                   <div class="pricingTable">
                     <span class="icon"><i class="fa fa-globe"></i></span>
                     <div class="pricingTable-header">
                       <h3 class="title">Standard</h3>
                       <span class="price-value">$10</span>
                     </div>
                       <ul class="pricing-content">
                         <li>50GB Disk Space</li>
                         <li>50 Email Accounts</li>
                         <li>50GB Monthly Bandwidth</li>
                         <li>10 Subdomains</li>
                         <li>15 Domains</li>
                       </ul>
                       <a href="#" class="pricingTable-signup">{{ key }}Pay</a>
                   </div>
                 </div>

                 <div class="col-md-4 col-sm-6">
                   <div class="pricingTable">
                     <span class="icon"><i class="fa fa-briefcase"></i></span>
                     <div class="pricingTable-header">
                       <h3 class="title">Business</h3>
                       <span class="price-value">$20</span>
                     </div>
                       <ul class="pricing-content">
                         <li>60GB Disk Space</li>
                         <li>60 Email Accounts</li>
                         <li>60GB Monthly Bandwidth</li>
                         <li>15 Subdomains</li>
                         <li>20 Domains</li>
                       </ul>
                       <a href="#" class="pricingTable-signup">{{ key }}Pay</a>
                   </div>
                 </div>

                 <div class="col-md-4 col-sm-6">
                   <div class="pricingTable">
                     <span class="icon"><i class="fa fa-diamond"></i></span>
                     <div class="pricingTable-header">
                       <h3 class="title">Premium</h3>
                       <span class="price-value">$30</span>
                     </div>
                     <ul class="pricing-content">
                       <li>70GB Disk Space</li>
                       <li>70 Email Accounts</li>
                       <li>70GB Monthly Bandwidth</li>
                       <li>20 Subdomains</li>
                       <li>25 Domains</li>
                     </ul>
                     <a href="#" class="pricingTable-signup" ></a>
                       <form action="{% url 'charge' %}" method="post">
                          {% csrf_token %}
                          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-key="{{ key }}"
                                  data-description="A Django Charge"
                                  data-amount="500"
                                  data-locale="auto"></script>
                       </form>
                   </div>
                 </div>

              </div><!-- ./row -->
            </div><!-- ./container -->
          </section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>


		<!-- Scripts -->
    {% block javascript %}
			<script src="{% static 'js/jquery.min.js'%}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
      <form action="{% url 'charge' %}" method="post">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="A Django Charge"
                data-amount="500"
                data-locale="auto"></script>
      </form>

    {% endblock javascript %}

	</body>
</html>
